<div>
    <!-- Utilisez une URL relative correcte pour l'image -->
    <img src="assets/myimage.jpg" class="bg-img" alt="Background Image">
  </div>
  <div class="filter-container">
    <label for="year">Year:</label>
    <select id="year" (change)="onYearChange($event)">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  
    <label for="month">Month:</label>
    <select id="month" (change)="onMonthChange($event)" [disabled]="!selectedYear">
      <option *ngFor="let month of months" [value]="month">{{ month }}</option>
    </select>
  
    <label for="day">Day:</label>
    <select id="day" (change)="onDayChange($event)" [disabled]="!selectedMonth">
      <option *ngFor="let day of days" [value]="day">{{ day }}</option>
    </select>
    <div class="button-container">
      <button routerLink="" routerLinkActive="active">Back to Home</button>
    </div>
  </div>
  
  <div class="image-grid">
    <div *ngFor="let image of filteredImages" class="image-item">
      <img [src]="image.url" alt="Image from Firebase Storage">
      <p>{{ image.text }}</p>
      <small>{{ formatDate(image.date) }}</small>
    </div>
  </div>
  
  <p *ngIf="filteredImages.length === 0">No images available.</p>
  